* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #f6f6f6;
   color: #444;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 16px;
   line-height: 1;
}

.container {
   display: flex;
}

.containerFullHeight {
   height: 400px;

}

.panel {
   text-align: center;
   width: 15%;
   background: white;
}

.button_outer {
   background: skyblue;
   border-radius: 30px;
   text-align: center;
   height: 50px;
   min-width: 60px;
   /* display: inline-block; */
   transition: .2s;
   position: relative;
   overflow: hidden;
   display: flex;
   justify-content: center;
   margin: 0 20px;
}

.button_outer:hover {
   color: #fff;
   background-color: rgb(69, 188, 235);
   border-color: rgb(69, 188, 235);
}

.btn_upload,
.btn_next,
.btn_back {
   padding: 17px 30px 12px;
   color: #fff;
   text-align: center;
   position: relative;
   display: inline-block;
   overflow: hidden;
   z-index: 3;
   white-space: nowrap;
}

.btn_upload input {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   width: 100%;
   height: 105%;
   cursor: pointer;
   opacity: 0;
}

.file_uploading {
   width: 80%;
   height: 10px;
   margin-top: 20px;
   background: #ccc;
}

/* .file_uploading .btn_upload {display: none;} */
.processing_bar {
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 100%;
   border-radius: 30px;
   background: #6582C2;
   transition: 3s;
}

.file_uploading .processing_bar {
   width: 100%;
}

.success_box {
   display: none;
   width: 50px;
   height: 50px;
   position: relative;
}

.success_box:before {
   content: '';
   display: block;
   width: 9px;
   height: 18px;
   border-bottom: 6px solid #fff;
   border-right: 6px solid #fff;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   position: absolute;
   left: 17px;
   top: 10px;
}

.file_uploaded .success_box {
   display: inline-block;
}

.file_uploaded {
   margin-top: 0;
   width: 50px;
   background: #6582C2;
   height: 50px;
}

.file_remove {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: block;
   position: relative;
   top: -14px;
   right: 15px;
   background: #6582C2;
   line-height: 30px;
   color: #fff;
   font-size: 12px;
   cursor: pointer;
}

.file_remove:hover {
   color: #fff;
   background-color: #2D64A0;
   border-color: #2D64A0;
   transition: .2s;
}

.uploaded_file_view img {
   max-width: 60%;
}

.uploaded_file_view canvas {
   max-width: 100%;
}

.uploaded_file_view.show {
   opacity: 1;
   overflow-y: scroll;
   overflow-x:hidden;
}

.error_msg {
   text-align: center;
   color: #f00
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

.column {
   float: left;
}

.zoom {
   transition: transform .2s;
   display: flex;
   justify-content: center;
}

.zoom2 {
   transition: transform .2s;
   display: flex;
   justify-content: center;
}

.zoom:hover {
   -ms-transform: scale(1.05);
   /* IE 9 */
   -webkit-transform: scale(1.05);
   /* Safari 3-8 */
   transform: scale(1.05);
}

.zoom2:hover {
   -ms-transform: scale(1.05);
   /* IE 9 */
   -webkit-transform: scale(1.05);
   /* Safari 3-8 */
   transform: scale(1.05);
}

.showImg_view {
   /* padding-top: 100px; */
   text-align: center;
   /* display: flex; */
   justify-content: center;

}

.showImg_view2 {
   /* padding-top: 100px; */
   text-align: center;
   /* display: flex; */
   justify-content: center;

}


.click_position_tags,.click_position_tags2 {
   display: grid;
   width: 25%;
   padding-top: 30px;
   background: skyblue;
}


.mainImg {
   overflow: auto;
}

.messageArea {
   height: 100%;
}

.nextArea {
   margin-bottom: 20px;
}

.click_position_tags_message, .click_position_tags_message2 {
   display: flex;
   justify-content: center;
   color: white;
   position: relative;
   bottom: 30px;
   overflow-y: auto;
}

.backArea {
   margin-bottom: 10px;
}

.imageSet {
   display: flex;
   justify-content: end;
   position: relative;
   top: 14px;
   margin-right: 10px;
   margin-bottom: 20px
}



.tag_input {
   margin-right: 5px;
}

.removeImgBtn {
   display: flex;
   justify-content: end;
   position: fixed;
}

.iconArea {
   zoom: 2;
   padding: 5px;
}

.iconArea i {
   color: #6582C2
}

.iconArea i:hover {
   color: #2D64A0;
}

.modal.fade{
   width:360px;
   left:700px;
   top:50px;
}

.modal-body{
   background-color: white;
   color:#1fb3f0;
   font-size:medium;
   border: 0px solid black;
   font-size:20px;
   
}

.modal-footer{
   background-color: white;
   color: #1fb3f0;
   font-size:smaller;
   border: 0px solid black;
}

.btn.btn-primary{
   color:white;
   background-color: #1fb3f0;
   font-style: bold;
   border: 0px solid black;
}

.btn.btn-secondary{
   color:white;
   background-color: lightgray;
   font-style: bold;
   border: 0px solid black;
}


/* mobile version css */
@media (max-width: 992px) {

   body {
      overflow-x: hidden;
   }

   .container {
      display: grid;
   }

   .showImg_view,.showImg_view2,
   .click_position_tags,.click_position_tags2,
   .panel {
      width: 100%;
      overflow-y: scroll;
   }

   .uploaded_file_view {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;

   }

   .imageSet {
      top: 14px;
      right: 18px;
      position: relative;
      top: 12px;
      right: 22px;
   }

   .uploaded_file_view.show {
      overflow-x: hidden;
   }

   .removeImgBtn {
      position: absolute;
   }

   #exampleModalCenter, #exampleModalCenter_2{
      top:5%;
      right:50%;
      outline: none;
   overflow:hidden;
   }


}

.ocrloader p::before {
   content: '';
   display:inline-block;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background: #18c89b;
   position: relative;
   right: 4px;
 }
 .ocrloader p {
   color: #18c89b;
   position: absolute;
   bottom: -30px;
   left: 38%;
   font-size: 16px;
   font-weight: 600;
   animation: blinker 1.5s linear infinite;
   font-family: sans-serif;
   text-transform: uppercase;
 }
 
 .ocrloader {
   width: 620px;
   height: 520px;
   position: absolute;
   left: 47%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   top: 5%;
   backface-visibility: hidden;

 }
 
 .ocrloader span {
   position: absolute;
   left: 35px;
   top: 0;
   width: 85%;
   height: 5px;
   background-color: #18c89b;
   box-shadow: 0 0 10px 1px #18c89b,
               0 0 1px 1px #18c89b;
   z-index: 1;
   transform: translateY(95px);
   animation: move 1.7s cubic-bezier(0.15,0.54,0.76,0.74);
   animation-iteration-count: infinite;
 }
 
 .ocrloader:before,
 .ocrloader:after,
 .ocrloader em:after,
 .ocrloader em:before {
   border-color: #18c89b;
   content: "";
   position: absolute;
   width: 45px;
   height: 46px;
   border-style: solid;
   border-width: 0px;
 }
 .ocrloader:before {
   left: 0;
   top: 0;
   border-left-width: 5px;
   border-top-width: 5px;
   border-radius: 5px 0 0 0;
 }
 .ocrloader:after {
   right: 0;
   top: 0;
   border-right-width: 5px;
   border-top-width: 5px;
   border-radius: 0 5px 0 0;
 }
 .ocrloader em:before {
   left: 0;
   bottom: 0;
   border-left-width: 5px;
   border-bottom-width: 5px;
   border-radius: 0 0 0 5px;
 }
 .ocrloader em:after {
   right: 0;
   bottom: 0;
   border-right-width: 5px;
   border-bottom-width: 5px;
   border-radius: 0 0 5px 0;
 }
 .tagsFeature{
   background-color: white;
   color: skyblue;
   padding:8px;
   border-radius:8px;
   margin-top:10px;
   font-style: bold;
 }

 #exampleModalCenter5, #exampleModalCenter5_2{
   width:250px;
 }

 .modal-footer.p-0 button{
   font-size:12px;
   padding: 6px;
 }
 
 @keyframes move {
   0%,
   100% {
     transform: translateY(500px);
   }
   50% {
     transform: translateY(0%);
   }

 }
 
 @keyframes blinker {  
   50% { opacity: 0; }
 }


 .dropdown {
   display: inline-block;
   position: relative;
 }
 .dropdown-content {
   display: none;
   position: absolute;
   width: 100%;
   overflow: auto;
   box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
 }
 .dropdown:hover .dropdown-content {
   display: block;
 }
 .dropdown-content a {
   display: block;
   color: black;
   background-color: white;
   padding: 20px 10px;
   text-decoration: none;
 }
 .dropdown-content a:hover {
   color: black;
   background-color: rgb(47, 175, 226);
 }
