body {
    font-family: "PT Sans", 微軟正黑體, "Microsoft JhengHei", sans-serif;
}

.headerArea {
    display: flex;
    align-items: center;
    z-index: 999;

    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.headerName {
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #6582C2
}